@model IEnumerable<dBook.Models.Authors>

@{
    ViewBag.Title = "Yazar Kontrol Paneli";
}

<div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        <p class="font-weight-bold h3">
            @Html.ActionLink("Yeni Yazar Oluştur", "CreateAuthor")
        </p>
        <table class="table">
            <tr>
                <th>
                    <h4 class="font-weight-bold">Ad</h4>
                </th>
                <th>
                    <h4 class="font-weight-bold">Soyad</h4>
                    
                </th>
                <th class="text-center">
                    <h4 class="font-weight-bold">Açıklama</h4>
                </th>
                <th style="min-width:100px">
                    <h4 class="font-weight-bold">İşlemler</h4>
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AUTHOR_NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AUTHOR_LASTNAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AUTHOR_DESCRIPTION)
                    </td>
                    <td>
                        @Html.ActionLink("Düzenle", "EditAuthor", new { id = item.AUTHOR_ID }) |
                        @Html.ActionLink("Sil", "DeleteAuthor", new { id = item.AUTHOR_ID },new { @class="text-danger"})
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
