@using PagedList
@using PagedList.Mvc
@using dBook.Models
@model IPagedList<Books>

@{
    ViewBag.Title = "Kitap Kontrol Paneli";
}

<div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        <p class="font-weight-bold h3">
            @Html.ActionLink("Yeni Kitap Oluştur", "CreateBook")
        </p>
        <table class="table">
            <tr>
                <th style="min-width:100px">
                    <h4 class="font-weight-bold">Kitap Adı</h4>
                </th>
                <th class="text-center" style="min-width:100px">
                    <h4 class="font-weight-bold">Açıklama</h4>
                </th>
                <th style="min-width:100px">
                    <h4 class="font-weight-bold">Fotoğraf</h4>
                </th>
                <th style="min-width:100px">
                    <h4 class="font-weight-bold">İşlemler</h4>
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BOOK_NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BOOK_DESCRIPTION)
                    </td>
                    <td>
                        <img src="~/img/BookPhoto/@(item.BOOK_PHOTO)" style="width:100px;height:100px;" />
                    </td>
                    <td>
                        @Html.ActionLink("Düzenle", "EditBook", new { id = item.BOOK_ID }) |
                        @Html.ActionLink("Sil", "DeleteBook", new { id = item.BOOK_ID }, new { @class = "text-danger font-weight-bold", onclick = "return confirm('Are you sure you wish to delete this article?');" })
                    </td>
                </tr>
            }

        </table>
        @Html.PagedListPager(Model, _pageNo => Url.Action("BooksControl", "Admin", new { PageNo = _pageNo }), PagedListRenderOptions.PageNumbersOnly)
    </div>
</div>
