@model dBook.Models.Authors

@{
    ViewBag.Title = "Yazar Düzenleme";
}


@using (Html.BeginForm("EditAuthor", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h3 class="font-weight-bold text-center">Yazarı Düzenle</h3>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.AUTHOR_ID)

<div class="form-group">
    <p class="control-label col-md-2 font-weight-bold">Yazar Adı</p>
    <div class="col-md-10">
        @Html.EditorFor(model => model.AUTHOR_NAME, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.AUTHOR_NAME, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <p class="control-label col-md-2 font-weight-bold">Yazar Soyadı</p>
    <div class="col-md-10">
        @Html.EditorFor(model => model.AUTHOR_LASTNAME, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.AUTHOR_LASTNAME, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <p class="control-label col-md-2 font-weight-bold">Yazar Açıklama</p>
    <div class="col-md-10">
        @Html.EditorFor(model => model.AUTHOR_DESCRIPTION, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.AUTHOR_DESCRIPTION, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <p class="control-label col-md-2 font-weight-bold">Yazar Fotoğrafı</p>
    <div class="col-md-10">
        <input type="file" name="file" class="control-label col-md-2 button" />
        @Html.ValidationMessageFor(model => model.AUTHOR_PHOTO, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Değişiklikleri Kaydet" class="btn btn-success" />
    </div>
</div>
</div>
}

<div class="row">
    <div class="col-12 col-md-12 text-center">
        @Html.ActionLink("Listeye Geri dön", "BooksControl", null, new { @class = "btn btn-primary h3" })

    </div>
</div>