
@{
    ViewBag.Title = "Admin Paneli";
}


<div class="row">
    <div class="col-12">
        <div class="btn-group-lg text-center" role="group" aria-label="Basic example">
            @Html.ActionLink("Kitap Paneli", "BooksControl", "Admin", null, new { @class = "btn btn-secondary" })
            @Html.ActionLink("Yazar Paneli", "AuthorsControl", "Admin", null, new { @class = "btn btn-secondary" })
            @Html.ActionLink("Yorum Paneli", "CommentsControl", "Admin", null, new { @class = "btn btn-secondary" })
            @Html.ActionLink("Üye Paneli", "UsersControl", "Admin", null, new { @class = "btn btn-secondary" })
            @Html.ActionLink("Kategori Paneli", "CategoryControl", "Admin", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
</div>
    
