
@using dBook.Models
@model IEnumerable<dBook.Models.Books>
@{
    ViewBag.Title = "BookList";
}


@if (Model != null)
{
    <div class="container">
        <div class=row>
            <div class="col-md-12 ">
                <div class="maintitle">
                    <h4>Kitaplar</h4>
                    <ul class="menu  ">
                        <li class="over1"><a class="btn btn-outline-dark ">Yeni Çıkanlar</a></li>
                        <li class="over1"><a class="btn btn-outline-dark ">En Son Okunanlar</a></li>
                        <li class="over1"><a class="btn btn-outline-dark ">En Çok Beğenilenler</a></li>
                        <li class="over1"><a class="btn btn-outline-dark ">En Çok Okunanlar</a></li>
                        <li class="over1"><a class="btn btn-outline-dark ">Alfabetik</a></li>
                    </ul>


                </div>
                <div class="col-sm-2 card  " style="width: 100%; float: left; ">
                    <img src="~/Content/img/kitap.jpg" class="card-img-top" alt="veriyapilari">
                    <div class="baslik">
                        <p>Veri Yapıları-Nejat Yumuşak dsadsadadasdasdas</p>
                    </div>
                    <div class=" baslik">
                        <a>Puanı : 9/10</a>
                    </div>
                </div>
                
                <div class="col-sm-2 card  " style="width: 100%; float: left; ">
                    <img src="~/Content/img/kitap.jpg" class="card-img-top" alt="veriyapilari">
                    <div class="baslik">
                        <p>Veri Yapıları-Nejat Yumuşak dsadsadadasdasdas</p>
                    </div>
                    <div class=" baslik">
                        <a>Puanı</a>
                    </div>
                </div>
                <div class="col-sm-2 card  " style="width: 100%; float: left; ">
                    <img src="~/Content/img/kitap.jpg" class="card-img-top" alt="veriyapilari">
                    <div class="baslik">
                        <p>Veri Yapıları-Nejat Yumuşak dsadsadadasdasdas</p>
                    </div>
                    <div class=" baslik">
                        <a>Puanı</a>
                    </div>
                </div>
                <div class="col-sm-2 card  " style="width: 100%; float: left; ">
                    <img src="~/Content/img/kitap.jpg" class="card-img-top" alt="veriyapilari">
                    <div class="baslik">
                        <p>Veri Yapıları-Nejat Yumuşak dsadsadadasdasdas</p>
                    </div>
                    <div class=" baslik">
                        <a>Puanı</a>
                    </div>
                </div>
                <div class="col-sm-2 card  " style="width: 100%; float: left; ">
                    <img src="~/Content/img/kitap.jpg" class="card-img-top" alt="veriyapilari">
                    <div class="baslik">
                        <p>Veri Yapıları-Nejat Yumuşak dsadsadadasdasdas</p>
                    </div>
                    <div class=" baslik">
                        <a>Puanı</a>
                    </div>
                </div>
                <div class="col-sm-2 card  " style="width: 100%; float: left; ">
                    <img src="~/Content/img/kitap.jpg" class="card-img-top" alt="veriyapilari">
                    <div class="baslik">
                        <p>Veri Yapıları-Nejat Yumuşak dsadsadadasdasdas</p>
                    </div>
                    <div class=" baslik">
                        <a>Puanı</a>
                    </div>
                </div>
                <div class="col-sm-2 card  " style="width: 100%; float: left; ">
                    <img src="~/Content/img/kitap.jpg" class="card-img-top" alt="veriyapilari">
                    <div class="baslik">
                        <p>Veri Yapıları-Nejat Yumuşak dsadsadadasdasdas</p>
                    </div>
                    <div class=" baslik">
                        <a>Puanı</a>
                    </div>
                </div>
                <div class="col-sm-2 card  " style="width: 100%; float: left; ">
                    <img src="~/Content/img/kitap.jpg" class="card-img-top" alt="veriyapilari">
                    <div class="baslik">
                        <p>Veri Yapıları-Nejat Yumuşak dsadsadadasdasdas</p>
                    </div>
                    <div class=" baslik">
                        <a>Puanı</a>
                    </div>
                </div>
                <div class="col-sm-2 card  " style="width: 100%; float: left; ">
                    <img src="~/Content/img/kitap.jpg" class="card-img-top" alt="veriyapilari">
                    <div class="baslik">
                        <p>Veri Yapıları-Nejat Yumuşak dsadsadadasdasdas</p>
                    </div>
                    <div class=" baslik">
                        <a>Puanı</a>
                    </div>
                </div>
                <div class="col-sm-2 card  " style="width: 100%; float: left; ">
                    <img src="~/Content/img/kitap.jpg" class="card-img-top" alt="veriyapilari">
                    <div class="baslik">
                        <p>Veri Yapıları-Nejat Yumuşak dsadsadadasdasdas</p>
                    </div>
                    <div class=" baslik">
                        <a>Puanı</a>
                    </div>
                </div>
                <div class="col-sm-2 card  " style="width: 100%; float: left; ">
                    <img src="~/Content/img/kitap.jpg" class="card-img-top" alt="veriyapilari">
                    <div class="baslik">
                        <p>Veri Yapıları-Nejat Yumuşak dsadsadadasdasdas</p>
                    </div>
                    <div class=" baslik">
                        <a>Puanı</a>
                    </div>
                </div>
                <div class="col-sm-2 card  " style="width: 100%; float: left; ">
                    <img src="~/Content/img/kitap.jpg" class="card-img-top" alt="veriyapilari">
                    <div class="baslik">
                        <p>Veri Yapıları-Nejat Yumuşak dsadsadadasdasdas</p>
                    </div>
                    <div class=" baslik">
                        <a>Puanı</a>
                    </div>
                </div>

            </div>

        </div>

    </div>



    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">KİTAP ADI</th>
                    <th scope="col">AÇIKLAMA</th>
                    <th scope="col">YAZAR</th>
                    <th scope="col">KATEGORİ</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.BOOK_ID</th>
                        <td>@Html.ActionLink(item.BOOK_NAME, "TheBook", "Book", new { id = item.BOOK_ID }, null)</td>
                        <td>@item.BOOK_DESCRIPTION</td>
                        <td>@(item.AUTHOR.AUTHOR_NAME + "  " + item.AUTHOR.AUTHOR_LASTNAME)</td>
                        <td>@item.CATEGORY.NAME</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
}
else
{
    <h1>Kitap yok</h1>
}