
@using dBook.ViewModels
@model dBook.ViewModels.BookListViewModel
@{
    ViewBag.Title = "Kitaplar";
}


@if (Model != null)
{
    <div class="container-fluid">
        <div class=row>
            <div class="col-md-8 ">
                <div class="row m-auto">
                    <div class="row text-center w-100 m-auto">
                        <h2 class="m-auto font-weight-bold">Son Eklenenler</h2>
                    </div>
                    <div class="row">
                        @foreach (var item in Model.LastAdded)
                        {
                            <div class="col-md-4 d-flex align-items-stretch text-center mt-2 mb-4">
                                <div class="card mt-1 mb-2 rounded m-auto" style="width: 22rem;">
                                    <img src="~/img/BookPhoto/@item.BOOK_PHOTO" class="card-img-top img-fluid m-auto" style="width:100%;height:300px;" alt="@(item.BOOK_NAME) Fotoğrafı">
                                    <div class="card-body">
                                        <p class="card-text baslik">@item.BOOK_DESCRIPTION</p>
                                    </div>
                                    <a href="~/Book/TheBook/@item.BOOK_ID" class="btn btn-primary">@(item.BOOK_NAME)</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <hr />
                <div class="row m-auto mb-4">
                    <div class="row text-center w-100 m-auto mb-4">
                        <h2 class="m-auto font-weight-bold mb-4">En Çok Okunanlar</h2>
                    </div>
                    <div class="row">
                        @foreach (var item in Model.MostReaded)
                        {
                            <div class="col-md-4 d-flex align-items-stretch text-center mt-2 mb-4">
                                <div class="card mt-1 mb-2 rounded m-auto" style="width: 22rem;">
                                    <img src="~/img/BookPhoto/@item.BOOK_PHOTO" class="card-img-top img-fluid m-auto" style="width:100%;height:300px;" alt="@(item.BOOK_NAME) Fotoğrafı">
                                    <div class="card-body">
                                        <p class="card-text baslik">@item.BOOK_DESCRIPTION</p>
                                    </div>
                                    <a href="~/Book/TheBook/@item.BOOK_ID" class="btn btn-primary">@(item.BOOK_NAME)</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
            @*Arama*@
            <div class="col-md-4 mt-4">
                <div class="row">
                    <div class="col-md-12">
                        <form method="post">
                            <div class="form-group mb-2">
                                <label for="book_name">Kitap Adı</label>
                                <input type="text" class="form-control" id="book_name" name="search" aria-describedby="Kitap Adı">
                            </div>
                            <button type="submit" class="btn btn-primary mb-5 ">Kitap Ara</button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul class="list-group">
                            @foreach (var item in Model.Books)
                            {
                                <li class="list-group-item">
                                    @(item.BOOK_NAME)
                                </li>
                            }

                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="~/Scripts/dBook.js"></script>

}
else
{
    <h1>Kitap yok</h1>
}