
@using dBook.Models
@model IEnumerable<dBook.Models.Books>
@{
    ViewBag.Title = "BookList";
}


@if (Model != null)
{
    <div class="container">
        <div class=row>
            <div class="col-md-12 " >

                <div class="maintitle navbar navbar-expand-lg ">
                    <a class="navbar-brand" href="#">Kitaplar</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#kitaplar" >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse " id="kitaplar">
                        <ul class="menu navbar-nav mr-auto ">
                            <li class="over1 nav-item"><a class="btn btn-outline-dark nav-link">Yeni Çıkanlar</a></li>
                            <li class="over1 nav-item"><a class="btn btn-outline-dark nav-link">En Son Okunanlar</a></li>
                            <li class="over1 nav-item"><a class="btn btn-outline-dark nav-link">En Çok Beğenilenler</a></li>
                            <li class="over1 nav-item"><a class="btn btn-outline-dark nav-link">En Çok Okunanlar</a></li>
                            <li class="over1 nav-item"><a class="btn btn-outline-dark nav-link">Alfabetik</a></li>
                        </ul>
                    </div>



                </div>
                <div class="col-sm-2 card  " style="width: 100%; float: left; ">
                    <img src="~/Content/img/kitap.jpg" class="card-img-top" alt="veriyapilari">
                    <div class="baslik">
                        <p>Veri Yapıları-Nejat Yumuşak dsadsadadasdasdas</p>
                    </div>
                    <div class=" baslik">
                        <a>Puanı : 9/10</a>
                    </div>
                </div>
                
                <div class="col-sm-2 card  " style="width: 100%; float: left; ">
                    <img src="~/Content/img/kitap.jpg" class="card-img-top" alt="veriyapilari">
                    <div class="baslik">
                        <p>Veri Yapıları-Nejat Yumuşak dsadsadadasdasdas</p>
                    </div>
                    <div class=" baslik">
                        <a>Puanı</a>
                    </div>
                </div>
                <div class="col-sm-2 card  " style="width: 100%; float: left; ">
                    <img src="~/Content/img/kitap.jpg" class="card-img-top" alt="veriyapilari">
                    <div class="baslik">
                        <p>Veri Yapıları-Nejat Yumuşak dsadsadadasdasdas</p>
                    </div>
                    <div class=" baslik">
                        <a>Puanı</a>
                    </div>
                </div>
                <div class="col-sm-2 card  " style="width: 100%; float: left; ">
                    <img src="~/Content/img/kitap.jpg" class="card-img-top" alt="veriyapilari">
                    <div class="baslik">
                        <p>Veri Yapıları-Nejat Yumuşak dsadsadadasdasdas</p>
                    </div>
                    <div class=" baslik">
                        <a>Puanı</a>
                    </div>
                </div>
                <div class="col-sm-2 card  " style="width: 100%; float: left; ">
                    <img src="~/Content/img/kitap.jpg" class="card-img-top" alt="veriyapilari">
                    <div class="baslik">
                        <p>Veri Yapıları-Nejat Yumuşak dsadsadadasdasdas</p>
                    </div>
                    <div class=" baslik">
                        <a>Puanı</a>
                    </div>
                </div>
                <div class="col-sm-2 card  " style="width: 100%; float: left; ">
                    <img src="~/Content/img/kitap.jpg" class="card-img-top" alt="veriyapilari">
                    <div class="baslik">
                        <p>Veri Yapıları-Nejat Yumuşak dsadsadadasdasdas</p>
                    </div>
                    <div class=" baslik">
                        <a>Puanı</a>
                    </div>
                </div>
                <div class="col-sm-2 card  " style="width: 100%; float: left; ">
                    <img src="~/Content/img/kitap.jpg" class="card-img-top" alt="veriyapilari">
                    <div class="baslik">
                        <p>Veri Yapıları-Nejat Yumuşak dsadsadadasdasdas</p>
                    </div>
                    <div class=" baslik">
                        <a>Puanı</a>
                    </div>
                </div>
                <div class="col-sm-2 card  " style="width: 100%; float: left; ">
                    <img src="~/Content/img/kitap.jpg" class="card-img-top" alt="veriyapilari">
                    <div class="baslik">
                        <p>Veri Yapıları-Nejat Yumuşak dsadsadadasdasdas</p>
                    </div>
                    <div class=" baslik">
                        <a>Puanı</a>
                    </div>
                </div>
                <div class="col-sm-2 card  " style="width: 100%; float: left; ">
                    <img src="~/Content/img/kitap.jpg" class="card-img-top" alt="veriyapilari">
                    <div class="baslik">
                        <p>Veri Yapıları-Nejat Yumuşak dsadsadadasdasdas</p>
                    </div>
                    <div class=" baslik">
                        <a>Puanı</a>
                    </div>
                </div>
                <div class="col-sm-2 card  " style="width: 100%; float: left; ">
                    <img src="~/Content/img/kitap.jpg" class="card-img-top" alt="veriyapilari">
                    <div class="baslik">
                        <p>Veri Yapıları-Nejat Yumuşak dsadsadadasdasdas</p>
                    </div>
                    <div class=" baslik">
                        <a>Puanı</a>
                    </div>
                </div>
                <div class="col-sm-2 card  " style="width: 100%; float: left; ">
                    <img src="~/Content/img/kitap.jpg" class="card-img-top" alt="veriyapilari">
                    <div class="baslik">
                        <p>Veri Yapıları-Nejat Yumuşak dsadsadadasdasdas</p>
                    </div>
                    <div class=" baslik">
                        <a>Puanı</a>
                    </div>
                </div>
                <div class="col-sm-2 card  " style="width: 100%; float: left; ">
                    <img src="~/Content/img/kitap.jpg" class="card-img-top" alt="veriyapilari">
                    <div class="baslik">
                        <p>Veri Yapıları-Nejat Yumuşak dsadsadadasdasdas</p>
                    </div>
                    <div class=" baslik">
                        <a>Puanı</a>
                    </div>
                </div>

            </div>

        </div>

    </div>



    <div class="row">
        <table class="table">
           
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.BOOK_ID</th>
                        <td>@Html.ActionLink(item.BOOK_NAME, "TheBook", "Book", new { id = item.BOOK_ID }, null)</td>
                        <td>@item.BOOK_DESCRIPTION</td>
                        <td>@(item.AUTHOR.AUTHOR_NAME + "  " + item.AUTHOR.AUTHOR_LASTNAME)</td>
                        <td>@item.CATEGORY.NAME</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
}
else
{
    <h1>Kitap yok</h1>
}