@using dBook.ViewModels;
@model dBook.ViewModels.BookViewModel
@{
    ViewBag.Title = "TheBook";
}

<div class="row">
    <div class="col-md-12">

        @if (Model != null)
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-3 text-black" style="width:100%;height:auto;">
                        <div class="row ">
                            <div class="col-md-3 col-3">
                                <img src="~/img/BookPhoto/@Model.Book.BOOK_PHOTO" class="card-img img-fluid " style="height:300px; width:100%; border-radius:8px;" alt="@Model.Book.BOOK_NAME Fotoğrafı">
                            </div>
                            <div class="col-md-9 col-9" style="background-color:#ffffff; border-radius:8px;">
                                <div class="card-body">
                                    <h5 class="card-title">@(Model.Book.BOOK_NAME)</h5>
                                    <p class="card-text">@Model.Book.BOOK_DESCRIPTION</p>
                                    <p class="card-text"><small class="text-black">Yazar :@(Model.Author.AUTHOR_NAME + " " + Model.Author.AUTHOR_LASTNAME)</small></p>
                                    <div class="row fix">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                        <div class="col-md-12 fixed-bottom ">
                                            @if (!Model.isRead)
                                            {
                                                @Html.ActionLink("Okuduklarıma Ekle", "Add_Readed", "User", new { id = Model.Book.BOOK_ID }, new { @class = "btn btn-primary float-right m-1" })
                                            }
                                            else
                                            {
                                                @Html.ActionLink("Okuduklarımdan Çıkar", "Drop_Readed", "User", new { id = Model.Book.BOOK_ID }, new { @class = "btn btn-danger float-right m-1" })
                                            }
                                            @if (!Model.isWant)
                                            {
                                                @Html.ActionLink("Okuyacaklarıma Ekle", "Add_Wish", "User", new { id = Model.Book.BOOK_ID }, new { @class = "btn btn-primary float-right m-1" })
                                            }
                                            else
                                            {
                                                @Html.ActionLink("Okuyacaklarımdan Çıkar", "Drop_Wish", "User", new { id = Model.Book.BOOK_ID }, new { @class = "btn btn-danger float-right m-1" })

                                            }
                                            @if (!Model.isLibrary)
                                            {
                                                @Html.ActionLink("Kütüphaneme Ekle", "Add_Library", "User", new { id = Model.Book.BOOK_ID }, new { @class = "btn btn-primary float-right m-1" })
                                            }
                                            else
                                            {
                                                @Html.ActionLink("Kütüphanemden Çıkar", "Drop_Library", "User", new { id = Model.Book.BOOK_ID }, new { @class = "btn btn-danger float-right m-1" })
                                            }
                                        </div>
                                        }
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            if (User.Identity.IsAuthenticated)
            {
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="font-weight-bold">Yorum Yap</h3>
                    </div>
                    <div class="col-md-12">

                        <form class="form-group" method="post" action="~/Book/CommentBook/@Model.Book.BOOK_ID">
                            <div class="col-md-2">
                                <label for="puan">Puanınız</label>
                                <select class="form-control" name="_point" id="puan">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="col-md-10">

                                <label for="yorum">Yorumunuz</label>
                                <input type="text" class="form-control w-100 d-block" name="_comment" id="yorum" />

                            </div>
                            <button type="submit" class="btn btn-primary m-4">Yorum Yap</button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="font-weight-bold">Yorumlar</h3>
                        @foreach (var comment in Model.Comments)
                        {
                            <div class="card mt-3" style="width: 65rem;">
                                <div class="card-body">
                                    <p class="card-text">@comment.COMMENT</p>
                                </div>
                                <div class="card-footer">
                                    <div class="float-left">
                                        Puan : @comment.POINT

                                    </div>
                                    @if (User.Identity.Name == comment.USER.USERNAME)
                                    {
                                        <div class="float-right">
                                            <p class="card-text">@Html.ActionLink("Yorumu Sil", "DeleteComment", "Book", new { id = comment.BOOK_COMMENT_ID }, null)</p>

                                        </div>
                                    }
                                    else
                                    {
                                        <div class="float-right">
                                            <p class="card-text">@Html.ActionLink(comment.USER.USERNAME, "UserPage", "User", new { id = comment.USER.USER_ID }, null)</p>

                                        </div>
                                    }

                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
            else
            {
                <p class="font-weight-bold h2">
                    Yorum yapmak ve yorumları okumak için lütfen giriş yapın.
                </p>
            }

        }

    </div>
</div>