@using dBook.Models
@model IEnumerable<dBook.Models.Books>
@{
    ViewBag.Title = "HomePage";
}


@if (User.Identity.IsAuthenticated)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center ">
                <h3 class="font-weight-bold m-auto">Son Eklenen Kitaplar</h3>
            </div>
        </div>
        <br />

        <div class="row">
            @foreach (var book in Model)
            {
                <div class="col-md-3 mt-2">
                    <div class="card mb-4 m-auto" style="width: 22rem; ">
                        <img src="~/img/BookPhoto/@book.BOOK_PHOTO" class="card-img-top img-fluid m-auto" style="width:100%;height:300px;" alt="Kitap görseli">
                        <div class="card-body">
                            <h4 class="card-title font-weight-bold text-center">@Html.ActionLink(book.BOOK_NAME, "TheBook", "Book", new { id = book.BOOK_ID }, null)</h4>
                            <p class="card-text baslik">@book.BOOK_DESCRIPTION</p>
                        </div>
                    </div>
                </div>
            }

        </div>
        <br />
        <hr style="border-color:cornflowerblue" />
        <div class="row">
            <div class="col-md-12 text-center ">
                <h3 class="font-weight-bold m-auto">En Çok Okunan Kitaplar</h3>
            </div>
        </div>
        <br />


        <div class="row">
            @foreach (var book in Model)
            {
                <div class="col-md-3">
                    <div class="card mb-4 m-auto" style="width: 22rem; ">
                        <img src="~/img/BookPhoto/@book.BOOK_PHOTO" class="card-img-top img-fluid m-auto" style="width:100%;height:300px;" alt="...">
                        <div class="card-body">
                            <h4 class="card-title font-weight-bold text-center">@Html.ActionLink(book.BOOK_NAME, "TheBook", "Book", new { id = book.BOOK_ID }, null)</h4>
                            <p class="card-text baslik">@book.BOOK_DESCRIPTION</p>
                        </div>
                    </div>
                </div>
            }

        </div>
        <br />
        <hr style="border-color:cornflowerblue" />
        <div class="row">
            <div class="col-12 text-center ">
                <h3 class="font-weight-bold m-auto">En Çok Okunan Yazarlar</h3>
            </div>
        </div>
        <br />

        <div class="row">
            @foreach (var book in Model)
            {
                <div class="col-md-3 ">
                    <div class="card mb-4 m-auto " style="width: 22rem; ">
                        <img src="~/img/BookPhoto/@book.BOOK_PHOTO" class="card-img-top img-fluid m-auto" style="width:100%;height:300px;" alt="...">
                        <div class="card-body">
                            <h4 class="card-title font-weight-bold">@book.BOOK_NAME</h4>
                            <p class="card-text baslik">@book.BOOK_DESCRIPTION</p>
                        </div>
                    </div>
                </div>
            }

        </div>
        <br />
    </div>




}
else
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center ">

                <div class="col-4 ortala">
                    <h3 class="font-weight-bold ">Lütfen Giriş Yapınız.</h3>
                    <button type="button" class="btn btn-primary">Giriş Ekranına Git</button>
                </div>
            </div>

        </div>

    </div>
}