@model dBook.Models.User

@{
    ViewBag.Title = "Ayarlar";
}

<h2 class="text-center">Ayarlar</h2>

@using (Html.BeginForm("UserSettings", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.USER_ID)

        <div class="form-group">
            <p class="control-label col-md-2 font-weight-bold">Kullanıcı Adı</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.USERNAME, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.USERNAME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2 font-weight-bold">Ad</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NAME, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NAME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2 font-weight-bold">Soyad</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.LAST_NAME, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LAST_NAME, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2 font-weight-bold">Şifre</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PASSWORD, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PASSWORD, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2 font-weight-bold">Fotoğraf</p>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.USER_PHOTO)
                <input type="file" name="file" class="control-label col-md-2 button" />
                @Html.ValidationMessageFor(model => model.USER_PHOTO, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.HiddenFor(model=>model.REGISTER_DATE)
        @Html.HiddenFor(model=>model.ROLE)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
